.aboutMe {
    border: solid 5px;
    border-color: #483C46;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    padding: 35px;
    margin-top: 50px;
    color: #3C6E71;
    border-radius: 20px;
}

.aboutMe a {
    color: #3C6E71;
    font-size: 50px;
    text-decoration: none;
    margin: 25px;
}